vs/
**/vs/
.vs
/.vs
/.vs/bramapeters97.github.io/FileContentIndex
*.vsidx
/.vs
/.vs/bramapeters97.github.io/FileContentIndex
/.vs/bramapeters97.github.io
*.vsidx
/.vs
/.vs/bramapeters97.github.io
/.vs/bramapeters97.github.io/FileContentIndex
