/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: #146C94;
  --first-color-second: #19A7CE;
  --first-color-alt: #19A7CE;
  --first-color-lighter: #19A7CE;
  --title-color: hsl(var(--hue-color), 8%, 25%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #f6f1ed;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

#id01 {
  font-family: 'Poppins', sans-serif;
}

.pdf-container {
  width: 100%;
  height: 100%;
}
embed, object {
  width: 100%;
  height: 100%;
}

.portfoliohome{
  margin-top: -5%;
  margin-bottom: -2%;
  box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.09), 0 -6px -20px 0 rgba(0, 0, 0, 0.09);

}

.dashboard_img {
  box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.09), 0 -6px -20px 0 rgba(0, 0, 0, 0.09);
  cursor: zoom-in;
  border-radius: 15px;
  min-width: 300px;
}

.portfolio2 {
  border-radius: 20px;
}

.portfolio1 {
  background-image: linear-gradient(to bottom, #146c94, #116084, #0f5474, #0c4965, #0a3e56);  
}

.text_img {
  box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.09), 0 -6px -20px 0 rgba(0, 0, 0, 0.09);
  cursor: zoom-in;
  border-radius: 15px;
  width: 70%;
  margin-left: 15%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5733; /* Adjust as needed */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 4rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-family: var(--body-font);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.container_carrousel {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 410px;
  padding-bottom: 40px;
  gap: 10px;
  overflow: auto;

  > div {
    flex: 0 0 170px;
    border-radius: 22px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #aaaaaa ;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url(../img/spotify_1.png)
        no-repeat 50% / cover;
    }
    
    &:nth-of-type(2) {
      background: url(../img/spotify_3.png)
        no-repeat 50% / cover;
    }

    &:nth-of-type(3) {
      background: url(../img/spotify_5.png)
        no-repeat 50% / cover;
    }

    &:nth-of-type(4) {
      background: url(../img/spotify_7.png)
        no-repeat 50% / cover;
    }

    &:nth-of-type(5) {
      background: url(../img/spotify_8.png)
        no-repeat 50% / cover;
    }

    &:nth-of-type(6) {
      background: url(../img/spotify_11.png)
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 120%;
      justify-content: flex-end;
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #717171 
;
      transform: translatey();
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      
      visibility: visible;
    }
  }
}


.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img {
  width: 170px;
  -webkit-filter: drop-shadow(5px 5px 5px #999);
  filter: drop-shadow(5px 5px 5px #999);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: all .3s ease-in-out;
}

a:link.link{
    color: hsl(var(--hue-color), 8%, 45%);
    background-color: transparent;
    text-decoration: none;
}

.button:hover {
  background-color: var(--first-color-alt);
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--white {
  background-color: #FFF;
  color: var(--first-color);
}

.button--white:hover {
  background-color: #FFF;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__description {
  text-align: left;
}

.about{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title, .about__info-name {
  display: block;
  text-align: justify;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

.video-container{
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.video-player{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  width: 70%;
  height: 70%;
}

.video-player2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  width: 70%;
  height: 70%;
}

.vinobo-frame {
  width: 100%; 
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  background:url(../img/loading.gif) center center no-repeat;
  background-size: 60px 60px;
}

.vinobo-container{
  margin: auto; 
  width: 85%; 
  height: 600px; 
  text-align: center;
  margin-bottom: 75px;
  margin-top: 50px;
}

.video-placholder{
  width: 10%;
  height: auto
}

.dashboard_browser {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
  width: 70%;
  cursor: pointer;
}

/*==================== PORTFOLIO ====================*/
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  border-radius: .5rem;
  justify-self: center;
  cursor: zoom-in;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description {
  font-size: 14px;
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -.5rem;
}

* {box-sizing: border-box}
                          body {margin:0}
                          .mySlides {display: none}
                          img {vertical-align: middle; border-radius: 15px;}
                          
                          /* Slideshow container */
                          .slideshow-container {
                          width: 80%;
                            max-width: 1000px;
                            position: relative;
                            margin: auto;
                            margin-bottom: 20px;
                          }
                          
                          /* Next & previous buttons */
                          .prev, .next {
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            width: auto;
                            padding: 16px;
                            margin-top: -22px;
                            color: #bbb;
                            font-weight: bold;
                            font-size: 18px;
                            transition: 0.6s ease;
                            border-radius: 0 3px 3px 0;
                            user-select: none;
                          }
  
                          @media screen and (max-width: 767px) {
                            .slideshow-container{
                              width: 100%;
                            }
                          }
  
                          
                          /* Position the "next button" to the right */
                          .next {
                            right: 0;
                            border-radius: 3px 0 0 3px;
                          }
                          
                          /* On hover, add a black background color with a little bit see-through */
                          .prev:hover, .next:hover {
                            background-color: rgba(0,0,0,0.8);
                          }
                          
                          /* The dots/bullets/indicators */
                          .dot {
                            cursor: pointer;
                            height: 10px;
                            width: 10px;
                            margin: 0 2px;
                            background-color: #bbb;
                            border-radius: 50%;
                            display: inline-block;
                            transition: background-color 0.6s ease;
                          }
                          
                          .active, .dot:hover {
                            background-color: #717171;
                          }
                          
                          /* Fading animation */
                          .fade {
                            animation-name: fade;
                            animation-duration: 1.5s;
                          }
                          
                          @keyframes fade {
                            from {opacity: .4} 
                            to {opacity: 1}
                          }
                          
                          /* On smaller screens, decrease text size */
                          @media only screen and (max-width: 300px) {
                            .prev, .next,.text {font-size: 11px}
                          }

.swiper-button-next {
  right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

/*==================== SKILLS ====================*/
.skills__container {
  row-gap: 0;
  margin-top: 40px;
  margin-bottom: -40px;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon, .skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
}

.skills__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);  font-family: var(--body-font);
}

.skills__arrow {
  margin-left: auto;
  transition: .4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
  font-family: var(--body-font);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  font-family: var(--body-font);
}

.skills__bar, .skills__percentage {
  height: 5px;
  border-radius: .25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__close .skills__list {
  height: 0px;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/*==================== FOOTER ====================*/
.footer {
  background-color: white;
  opacity: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}


.header{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

/* Articles */
article {
  --img-scale: 1.00s1;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  margin-inline: auto;
  background: rgba(255, 255, 255, .9);
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  width: 95%;
}

article a::after {
  position: absolute;
  font-family: var(--body-font);
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  font-family: var(--body-font);
  --hue-color: 250;
  margin: 0 0 18px 0;
  font-size: 1.3rem;
  letter-spacing: 0.03em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

article img {
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.article-body {
  padding: 26px;
  font-size: 13px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

article a:focus {
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.articles__container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px -10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px; width: 100%; background-image: linear-gradient(to bottom, #146c94, #116084, #0f5474, #0c4965, #0a3e56);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  transition: all .4s ease-in-out;

}

.card:hover{
  transform: scale(1.05);
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 767px) {
  .home__data {
    margin-top: 50px;
  }
  .video-container{
    margin-top: 0px;
  }
  .skills__container{
    margin-bottom: -60px;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: .3s;
  }

  .home__container {
    margin-top: 20px;
  }

  .nav__mail{
    display:none;
  }

  .nav__linkedin{
    display:none;
  }

  .dashboard_img{
    width: 100%;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem .25rem 2rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: .25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .qualification__data {
    gap: .5rem;
  }
  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 .5rem;
  }
  .project__img {
    scale: 10%;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 0px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

/* Default styles for the two-column grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjust the gap between columns */
}

.grid-item {
  text-align: left;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* Change to one column */
  }
  .video-player{
    width: 100%;
  }
  .video-player2{
    width: 100%;
  }

  .dashboard_browser{
    width: 90%;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* For medium devices */
@media screen and (min-width: 568px) {

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 1;
    justify-self: center;
  }
  .about__container,
  .skills__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
  .dashboard_img{
    width: 100%;
  }

  .about__img{
    -webkit-filter: drop-shadow(4px 4px 4px #cdcdcd);

  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon, .nav__close, .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home__container {
    row-gap: 5rem;
    margin-bottom: 50px;
    
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }
  .about__container {
    column-gap: 4rem;
  }
  .about__img {
    border-radius: 20px;
    -webkit-filter: drop-shadow(4px 4px 4px #cdcdcd);
  }
  .about__description {
    text-align: justify;
    font-size: 16px;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: .5fr;
  }
  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services__modal-content {
    width: 450px;
  }
  .portfolio__img {
    width: 320px;
  }
  .portfolio__content {
    align-items: center;
  }
  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
  }
  .project__container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project__data {
    padding-top: .8rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
  .dashboard_img{
    width: 100%;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .home__blob {
    width: 320px;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .services__container {
    grid-template-columns: repeat(3, 238px);
  }
  .portfolio__content {
    column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .about__img {
    -webkit-filter: drop-shadow(4px 4px 4px #cdcdcd);
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  
  .home__content {
    margin-top: -15%;
  }
  .about__img {
    -webkit-filter: drop-shadow(4px 4px 4px #cdcdcd);
  }
}