[data-style="inline-style-001"] {
  color:#222;
}

[data-style="inline-style-002"] {
  font-weight:300;
}

[data-style="inline-style-003"] {
  color:#555;
  margin-right:0.6rem;
  width: 20px;
}

[data-style="inline-style-004"] {
  margin-bottom: 0px;
}

[data-style="inline-style-005"] {
  font-weight: 200;
}

[data-style="inline-style-006"] {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  background-color:rgb(233,233,233);
}

[data-style="inline-style-007"] {
  width: 25%;
  opacity: 80%;
}

[data-style="inline-style-008"] {
  color: #6495ED;
  font-weight: 60;
}

[data-style="inline-style-009"] {
  font-weight: 300;
}

[data-style="inline-style-010"] {
  color: #6495ED;
  font-weight: 100;
}

[data-style="inline-style-011"] {
  color: #6495ED;
  font-weight: 20;
}

[data-style="inline-style-012"] {
  color: #6495ED;
  font-weight: 1;
}

[data-style="inline-style-013"] {
  width:100%;
  height:auto;
  cursor:pointer;
}

[data-style="inline-style-014"] {
  font-size:0.92em;
}

[data-style="inline-style-015"] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

[data-style="inline-style-016"] {
  width:50%;
  border-radius: 190px;
  height:auto;
  background-color: rgba(245, 245, 220, 0);
}

[data-style="inline-style-017"] {
  display:grid;
  place-items:center;
}

[data-style="inline-style-018"] {
  width:100%;
}

[data-style="inline-style-019"] {
  color:#6495ED;
  font-weight:100;
}

[data-style="inline-style-020"] {
  color:#6495ED;
  font-weight:60;
}

[data-style="inline-style-021"] {
  margin-right: 0.65em;
}

[data-style="inline-style-022"] {
  font-weight: 600;
}

[data-style="inline-style-023"] {
  text-align: center;
  padding: 20px;
}

[data-style="inline-style-024"] {
  width:50%;
  height:auto;
  cursor:pointer;
  border-radius: 20px;
}

[data-style="inline-style-025"] {
  width: 100%;
  text-align: center;
}

[data-style="inline-style-026"] {
  width:75%;
  height:auto;
  cursor:pointer;
}

[data-style="inline-style-027"] {
  width:100%;
  text-align: center;
}

[data-style="inline-style-028"] {
  margin: 10px;
  width:25%;
  height:auto;
  cursor:pointer;
}

[data-style="inline-style-029"] {
  margin:                                                                                                                                                      10px;
  width:25%;
  height:auto;
  cursor:pointer;
}

[data-style="inline-style-030"] {
  font-weight: 400;
}

[data-style="inline-style-031"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

[data-style="inline-style-032"] {
  width: 100%;
  border-radius: 20px;
}

[data-style="inline-style-033"] {
  width:100%;
  height:auto;
  cursor:pointer;
  border-radius: 20px;
}

[data-style="inline-style-034"] {
  display:grid;
  place-items:center;
  width: 100%;
  height: 100%;
}

[data-style="inline-style-035"] {
  width:100%;
  height: 100%;
}

[data-style="inline-style-036"] {
  color:#555;
  margin-right:0.6rem;
}

[data-style="inline-style-037"] {
  font-weight:600;
}

[data-style="inline-style-038"] {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

[data-style="inline-style-039"] {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}

[data-style="inline-style-040"] {
  margin: 0;
  font-size: 12px;
}
